@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/Fondo.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Ajustar imagen al tamaño de la ventana */
    color: #eee; /* Texto claro */
}

header {
    background-color: rgba(30, 30, 30, .4); /* Fondo oscuro con transparencia */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid #ff6347; /* Línea de acento vibrante */
}

header .logo {
    font-family: 'Permanent Marker', cursive; /* Fuente urbana */
    font-size: 36px;
    font-weight: bold;
    color: #ff6347; /* Color acento */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Color al pasar el cursor */
}

section {
    padding: 40px 20px; /* Aumentar padding */
    text-align: center;
    margin: 60px 0; /* Aumentar margen superior e inferior */
    background-color: rgba(30, 30, 30, 0.3); /* Fondo oscuro con transparencia */
    border-radius: 10px; /* Bordes redondeados */
}

#home {
    background: none; /* Sin fondo específico */
    color: #90829e;
    padding: 100px 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

#home h1, #christmas-message h2 {
    font-family: 'Permanent Marker', cursive; /* Fuente urbana */
    font-size: 48px;
    margin-top: 0;
    color: #d3d1fa;
}

#home .message {
    font-family: 'Permanent Marker', cursive; /* Fuente urbana */
    font-size: 50px;
    margin-top: 20px;
    color: #ff6347; /* Mensaje en color vibrante */
}

#art-gallery, #skate-videos, #christmas-message {
    background: url('images/Fondo2.jpg') no-repeat center center fixed; /* Fondo con efecto de paralaje */
    background-size: cover;
    border: 10px solid #ff6347; /* Bordes vibrantes */
    padding: 40px 20px; /* Aumentar padding */
    margin: 60px auto; /* Aumentar margen superior e inferior */
    max-width: 90%;
    border-radius: 10px; /* Bordes redondeados */
}

.gallery, .videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img, .videos video {
    margin: 10px;
    max-width: 300px;
    border: 2px solid #ff6347; /* Bordes vibrantes */
    transition: transform 0.3s;
}

.gallery img:hover, .videos video:hover {
    transform: scale(1.05); /* Efecto al pasar el cursor */
}

.hidden {
    display: none; /* Ocultar imágenes inicialmente */
}

#christmas-message p {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background-color: rgba(30, 30, 30, 0.9); /* Fondo oscuro con transparencia */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: 50px solid #ff6347; /* Línea de acento vibrante */
}

button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Animación de explosión */
@keyframes explosion {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(5);
    }
}

#explosion-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    opacity: 0;
}